.meus-filmes{
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    max-height: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    align-items: start;
}

.meus-filmes a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.meus-filmes button{
    border: none;
    font-size: 17px;
    width: 80px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.5s;
}

.meus-filmes button:hover{
    background-color: #116feb;
    color: #fff;

}

